<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androide.app.flutter">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAn1Nr6R43hFECn8R3RtdRcHrhsUJNy7MQ"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
